@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
       --main-background: hsl(233, 47%, 7%);
    --card-background: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);

    --main-heading-stats: hsl(0,0%, 100%);
    --main-paragraph: hsla(0, 0%, 100%, 0.75);
    --stat-heading: hsla(0, 0%, 100%, 0.6);

    --font-inter: 'Inter', sans-serif;
    --font-lexend:  'Lexend Deca', sans-serif;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    background-color: var(--main-background);
}


main {
    background-color: var(--card-background);
}

#heading-text {
    font-family: var(--font-inter);
}

#color-violet {
    color: var(--soft-violet);
}

#body-text {
    font-family: var(--font-inter);
    color: var(--main-paragraph);
    font-weight: 400;
    mix-blend-mode: normal;
    opacity: 0.75;
}

.stats-numbers {
    font-family: var(--font-lexend);
    color: var(--main-heading-stats);
    font-style: normal;
}

.stats-text {
    font-family: var(--font-lexend);
    color: var(--stat-heading);
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    mix-blend-mode: normal;
    opacity: 0.6;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #Ab5cdb;
    mix-blend-mode: multiply;
    z-index: 1;
    opacity: .75;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.attribution, a {
    color: var(--main-paragraph);
    text-align: center;
}



@media screen and (min-width: 800px) {
    main {
        width: calc((1110/16) * 1rem);
        height: calc((446/16) * 1rem);
        box-shadow: 0 20px 20px 10px rgba(23, 25, 41, 0.203087);
        border-radius: .8rem;
        display: flex;
        overflow: hidden;
    }

    .main-container {
        display: grid;
        place-items: center;
        min-height: 100vh;
    }

    #text-container {
        width: calc((570/16) * 1rem);
        height: calc((446/16) * 1rem);
    }

    #heading-text {
        width: calc((403/16) * 1rem);
        height: calc((88/16) * 1rem);
        margin: calc((71/16) * 1rem) 0 calc((25/16) * 1rem) calc((72/16) * 1rem);
        font-size: calc((36/16) * 1rem);
        color: var(--main-heading-stats);
        font-weight: 700;
    }

    #body-text {
        font-size: calc((15/16) * 1rem);
        width: calc((374/16) * 1rem);
        height: calc((75/16) * 1rem);
        margin-left: calc((71.5/16) * 1rem);
        line-height: calc((25/16) * 1rem);
    }

    .stats-container {
        display: flex;
        gap: calc((60/16) * 1rem);
        margin: calc((72/16) * 1rem) 0 0 calc((71.5/16) * 1rem);
    }

    .stats-numbers {
        font-size: calc((24/16) * 1rem);
        font-weight: 700;
    }

    .stats-text {
        font-size: calc((12/16) * 1rem);
        margin-top: calc((10/16) * 1rem);
    }

    #image-container {
        position: relative;
        width: calc((540/16) * 1rem);
        height: calc((446/16) * 1rem);
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #Ab5cdb;
        mix-blend-mode: multiply;
        z-index: 1;
        opacity: .75;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
          z-index: 0;
    }

    .image-mobile {
        display: none;
    }
}

@media screen and (min-width: 300px) and (max-width: 800px) {
    main {
        width: calc((327/16) * 1rem);
        height: calc((780/16) * 1rem);
        box-shadow: 0 20px 20px 10px rgba(23, 25, 41, 0.203087);
        border-radius: .8rem;
        display: flex;
        flex-direction: column-reverse;
        overflow: hidden;
    }

    .main-container {
        display: grid;
        place-items: center;
        min-height: 100vh;
    }

    #text-container {
        width: calc((327/16) * 1rem);
        height: calc((540/16) * 1rem);
    }

    #heading-text {
        width: calc((264/16) * 1rem);
        height: calc((96/16) * 1rem);
        margin: calc((40/16) * 1rem) calc((31.5/16) * 1rem) 0 calc((31.5/16) * 1rem);
        font-size: calc((28/16) * 1rem);
        color: var(--main-heading-stats);
        font-weight: 700;
        text-align: center;
    }

    #body-text {
        font-size: calc((15/16) * 1rem);
        width: calc((264/16) * 1rem);
        height: calc((100/16) * 1rem);
        margin: calc((16/16) * 1rem) calc((32/16) * 1rem) 0 calc((32/16) * 1rem);
        line-height: calc((25/16) * 1rem);
        text-align: center;
    }

    .stats-container {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        place-items: center;
        gap: calc((10/16) * 1rem);
    }

    .stats-numbers {
        font-size: calc((24/16) * 1rem);
        font-weight: 700;
        text-align: center;
    }

    .top {
        margin-top: calc((40/16) * 1rem);
    }

    .bottom {
        margin: calc((-20/16) * 1rem) calc((32/16) * 1rem) calc((32/16) * 1rem) calc((31/16) * 1rem);
    }

    .stats-text {
        font-size: calc((12/16) * 1rem);
        margin-top: calc((6/16) * 1rem);
    }

    #image-container {
        position: relative;
        width: calc((327/16) * 1rem);
        height: calc((240/16) * 1rem);
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #Ab5cdb;
        mix-blend-mode: multiply;
        z-index: 1;
        opacity: .75;
    }
    .image-desktop {
        display: none;
    }
}
